*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}
.wrapper{
    padding-bottom: 10%;
}
header{
    display: flex;
    justify-content: space-around;
    margin-top: 1%;
}
.leftNav h2{
    font-weight: 700;
}
.leftNav h6{
    color: rgb(114, 113, 113);
    font-weight: 700;
}
.rightNav p{
    display: flex;
    justify-content:center ;
    align-items: center;
}
/* color: rgb(167, 165, 165); */
.firstGrid{
    display: flex;
    margin: 0 auto;
    margin-top: 1.5%;
    width: 67%;
    /* justify-content: center; */
    justify-content: space-around;
}
.fgrid1{
    height: 150px;
    /* padding: 50px; */
    text-align: center;
    border-top: 2px solid blue;
    width: 23%;
    border-radius: 5px;
    background-color: hsl(227, 47%, 96%);
}
.fgrid1 h6{
    padding-top: 1.2rem;
    display: flex;
    justify-content:center ;
    align-items: center;
    font-weight: 400;
}
.fgrid1 img{
   padding-right: 0.2rem;
}

.fgrid1 h4{
    padding-top: 0.6rem;
    font-size: 1.7rem;
    font-weight: 700;
}
.fgrid1 p{
    padding-top: 0.2rem;
    letter-spacing: 0.15rem;
    color: rgb(167, 165, 165);
    text-transform: uppercase;
    font-weight: 400;
}
.fgrid1 h5{
    padding-top: 0.7rem;
    font-weight: 700;
}




.secondGrid h2{
    margin: 0 auto;
    width: 66%;
    color: rgb(167, 165, 165);
    margin-top: 2%;
    margin-bottom: 1%;
    font-weight: 400;
}
.subsec1,.subsec2{
    display: flex;
    margin: 0 auto;
    width: 67%;
    /* justify-content: center; */
    justify-content: space-around;
}
.sgrid1{
    height: 90px;
    /* padding: 50px; */
    width: 23%;
    border-radius: 5px;
    background-color: hsl(227, 47%, 96%);
}
.subsecgrid1,.subsecgrid2{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.subsecgrid2 h6{
    font-size: 1.8rem;
    font-weight: 700;
}
.subsecgrid2 p{
    font-weight: 700;
}
.subsecgrid1{
    padding-top: 1rem;
    padding-bottom: 0.8rem;
    color: rgb(167, 165, 165);
}
.subsec2{
    margin-top: 2%;
}
.green{
    color: green;
}
.red{
    color: red;
}
.redborder{
    border-top: 2px solid red!important;
}
.reddishborder{
    border-top: 2px solid rgb(214, 68, 68)!important;
}







/* toggle button */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }





  /* responsveness */


  @media only screen and (max-width: 960px) {
    .firstGrid{
        width: 79%;
    }
    .fgrid1{
        width: 23.5%;
    }
    .fgrid1 p{
        letter-spacing: 0.1rem;
        font-size: 0.9rem;
    }
    .secondGrid h2{
        width: 79%;
    }
    .subsec1,.subsec2{
        width: 79%;
    }
    .sgrid1{
        width: 23.5%;
    }
    .subsecgrid2 h6{
        font-size: 1.4rem;
    }
    .subsecgrid2 p{
        font-size: 1rem;
    }
  }

  @media only screen and (max-width: 450px) {
    header{
        display: flex;
        flex-direction: column;
        margin-top: 3%;
    }
    .leftNav{
        padding-left: 2rem;
    }
    .rightNav p{
        display: flex;
        justify-content: space-between;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .firstGrid{
        display: flex;
        flex-direction: column;
        /* margin-top: 1.5%; */
        width: 85%;
        /* justify-content: center; */
        justify-content: space-around;
    }
    .fgrid1{
        width: 100%;
        margin-top: 5%;
    }
    .secondGrid h2{
        width: 85%;
    }
    .subsec1,.subsec2{
        display: flex;
        flex-direction: column;
        width: 85%;
    }
    .sgrid1{
        width: 100%;
        margin-top: 5%;
    }
    .subsecgrid1,.subsecgrid2{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 1rem;
        padding-right: 1rem;
    }
  }