*{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    justify-content: space-around;
}
.firstGrid{
    display: flex;
    margin: 0 auto;
    width: 63%;
    /* justify-content: center; */
    justify-content: space-around;
}
.fgrid1{
    height: 130px;
    /* padding: 50px; */
    text-align: center;
    border-top: 2px solid blue;
    width: 23%;
    border-radius: 5px;
    background-color: hsl(227, 47%, 96%);
}
.fgrid1 h6{
    padding-top: 1.2rem;
}
.fgrid1 h4{
    padding-top: 0.6rem;
    font-size: 1.7rem;
}
.fgrid1 p{
    padding-top: 0.15rem;
    letter-spacing: 0.2rem;
}
.fgrid1 h5{
    padding-top: 0.7rem;
}